In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
import pandas as pd

In [8]:
dados = pd.read_csv ('Censo 2022 - Crescimento Populacional - Brasil.csv', sep = ";")

In [9]:
dados

,Ano da pesquisa,População(pessoas),Recorte Geográfico,Unnamed: 3,Unnamed: 4
0,1872,9930478,Brasil,NaN,NaN
1,1890,14333915,Brasil,NaN,NaN
2,1900,17438434,Brasil,NaN,NaN
3,1920,30635605,Brasil,NaN,NaN
4,1940,41236315,Brasil,NaN,NaN
5,1950,51944397,Brasil,NaN,NaN
6,1960,70992343,Brasil,NaN,NaN
7,1970,94508583,Brasil,NaN,NaN
8,1980,121150573,Brasil,NaN,NaN
9,1991,146917459,Brasil,NaN,NaN
10,2000,169872856,Brasil,NaN,NaN
11,2010,190755799,Brasil,NaN,NaN
12,2022,203080756,Brasil,NaN,NaN

In [10]:
media = dados['População(pessoas)'].mean()

In [11]:
media

89445962.53846154

In [12]:
mediana = dados['População(pessoas)'].median()

In [13]:
mediana

70992343.0

In [14]:
moda = dados['População(pessoas)'].mode()

In [15]:
moda

0       9930478
1      14333915
2      17438434
3      30635605
4      41236315
5      51944397
6      70992343
7      94508583
8     121150573
9     146917459
10    169872856
11    190755799
12    203080756
Name: População(pessoas), dtype: int64